<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ appTitle }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">      
        {{ appTitle }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-button expand="block" (click)="scan()">SCAN</ion-button>
  </div>
</ion-content>
